<!DOCTYPE html>
<html>
<head>
	<title>OMAK (Open Mail Access Kit at AUC)</title>
	
	<!--Some Styles Motherfucker!!!-->
	<link rel="stylesheet" type="text/css" href="/static/styles/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/uikit.addons.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">

	<!--Some Scripts Motherfucker!!!-->
	<script type="text/javascript" src="/static/js/script.min.js"></script>
</head>
<body>
<div id='container'></div>
</body>
</html>
