<!DOCTYPE html>
<html>
<head>
	<title>OMAK (Open Mail Access Kit at AUC)</title>
	
	<!--Some Styles Motherfucker!!!-->
	<link rel="stylesheet" type="text/css" href="/static/styles/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/uikit.addons.min.css">

	<!--Some Scripts Motherfucker!!!-->
	<script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/d3.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/trianglify.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/underscore.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/backbone.min.js"></script>
</head>
<body style="min-width:1200px;min-height:800px">

</body>
</html>
