<!DOCTYPE html>
<html>
	<head>
		<title>OMAK (Open Mail Access Kit at AUC)</title>
		
		<!--Some Styles Motherfucker!!!-->
		<link rel="stylesheet" type="text/css" href="/static/styles/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/uikit.addons.min.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,900,800' rel='stylesheet' type='text/css'>

		<!--Some Scripts Motherfucker!!!-->
		<script type="text/javascript" src="/static/js/script.min.js"></script>
	</head>
	<body>
		<div id='container'>
			<div id='container-outline'>
				<div class="content-container uk-panel uk-border-rounded uk-panel-box uk-panel-box-primary uk-width-1-3 uk-container-center">
					<h1>OMAK</h1>
					<h3>Open Mail Access Kit</h3>
					<h4>at AUC</h4>
					<p><b>omak</b> is in beta phase. Help expand our databases by submiting your auc mail below</p>
				</div>
			</div>
		</div>
	</body>
</html>
